
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:400|Roboto:400,500");

body {
  h1, .title, .text .title {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
  }
  p, .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
}