
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Nunito|Roboto:500");

body {
  .title {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
  }
  .text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
}