
@import 'shared';
@import 'fonts';

html,
body {
  height: 100%;
}

h1 {
  border-bottom: 2px solid $color-accent;
  display: inline-block;
}

.line {
  display: flex;
  justify-content: center;
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.start {
    align-items: flex-start;
  }
  &.end {
    align-items: flex-end;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.highlight {
  color: $color-secondary;
  background-color: $color-accent-alt;
  padding: 0.1rem 0.3rem;
}

.button.is-primary {
  background-color: $color-accent;
  &:hover {
    background-color: $color-accent;
  }
}
