.line {
  display: flex;
  justify-content: center;
}

.line.start {
  justify-content: flex-start;
}

.line.end {
  justify-content: flex-end;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.col.start {
  align-items: flex-start;
}

.col.end {
  align-items: flex-end;
}

.grow {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}
