body {
  --color-primary: #333;
  --color-secondary: white;
  --color-accent: orangered;
  --color-accent-alt: darkorange;
  --color-shade: darkslategray;
  --color-shade-alt: darkgrey;  
  --color-green: mediumseagreen;
  --color-yellow: var(--color-accent-alt);
  --color-red: tomato;
}